//mixin list(items, className, active)
//    ul(class=className)
//      each item, key in items
//        if key == active
//          li(class=className + "__item" + " " + className + "__item--active")
//            a(href="#" class=className + "__link")= item.title
//            if item.submenu
//              +list(item.submenu, 'sub_' + className)
//        else
//          li(class=className + "__item")
//            a(href="#" class=className + "__link")= item.title
//            if item.submenu
//              +list(item.submenu, 'sub_' + className)